.ad {
  background-color: var(--ads-bg);
}
.btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s e;
  -moz-transition: all 0.4s e;
  -ms-transition: all 0.4s e;
  -o-transition: all 0.4s e;
}
.btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
