.custom_select {
  position: relative;
}
.custom_select .select {
  cursor: pointer;
}
.custom_select .options {
  display: none;
  position: absolute;
  top: 20px;
  background-color: var(--secondary-color);
}
.custom_select:hover > .options {
  display: flex;
}

.custom_select .options .option {
  cursor: pointer;
}
.custom_select .options .option:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
