.add_to_cart_single_btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 150px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s e;
  -moz-transition: all 0.4s e;
  -ms-transition: all 0.4s e;
  -o-transition: all 0.4s e;
}
.add_to_cart_single_btn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  outline: 1px solid var(--primary-color);
}
