/* .product_Single_page_image div .js-image-zoom__zoomed-area {
  background-repeat: no-repeat;
  background-position: center center;
}
.product_Single_page_image div img {
  object-fit: cover;
  top: 0;
  left: 0;
} */
